<a href="https://colab.research.google.com/github/yoonheekim1115/coding_study_ewha/blob/main/SE/02_%EA%B5%AC%ED%98%84_0720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. 구현

## 1) 개념정리 및 예제

In [ ]:
# 예제 4-1 상하좌우

n = int(input())
data = list(map(str, input().split()))

x,y=1,1

# L,R,U,D 순서대로 입력

dx = [0,0,-1,1]
dy = [-1,1,0,0]
types = ['L','R','U','D']

for i in range(len(data)):
  nx = x+dx[types.index(data[i])] # 처음에 여기를 할당연산자를 사용했는데, 그렇게하면 안되나봄... 
  ny = y+dy[types.index(data[i])] 
  if nx<1 or ny<1 or nx>n or ny>n:
    continue
  
  x=nx; y=ny

print(x,y)

5
R R R U D D
3 4

In [ ]:
# 예제 4-2 시각

n = int(input())

count=0

for i in range(n+1):  
  for j in range(60):
    for k in range(60):
      if i%10==3 or j%10==3 or j//10==3 or k%10==3 or k//10==3:
        count += 1

print(count)

5
11475

In [ ]:
# 실전 1 - 왕실의 나이트
# 경우의 수를 구하는 거. 위치가 중요하진 않음

data = input()
count = 0

moves=[(1,2),(2,1),(-1,2),(-2,1),(-1,-2),(-2,-1),(1,-2),(2,-1)]
row=['a','b','c','d','e','f','g','h']

x=data[0]; y=int(data[1])

for move in moves:
  nx = row.index(x)+move[0]
  ny = y+move[1]

  if nx<0 or ny<1 or nx>8 or ny>8:
    continue

  count += 1
  
print(count)

a1
2

In [ ]:
# 실전 2 - 게임 개발

## 2) 기출문제

In [ ]:
# 7/19(월)
# 7. 럭키 스트레이트

score = input()
split = int(len(score)/2)
ford=0; back=0

# 이걸 하나로 합칠 수 있는 방법은 없을까
for i in range(split):
  ford += int(score[i])
for k in range(split,len(score)):
  back += int(score[k])

if ford==back:
  print("LUCKY")
else:
  print("READY")

123402
LUCKY

In [37]:
# 7/20(화)
# 8. 문자열 재정렬

def reorder(value):
  data = list(value)
  num = 0
  alpha =[]

  for val in data:
    if val.isdigit()==True: 
      num += int(val)
    else: 
      alpha.append(val)
    
  result = "".join(sorted(alpha))+str(num)

  return result

In [38]:
print(reorder('K1KA5CB7'))
print(reorder('AJKDLSI412K4JSJ9D'))

ABCKK13
ADDIJJJKKLSS20